div {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  font-size: 24px;
  width: 600px;
  padding: 15px;
  gap: 15px 15px;
}
header,
footer {
  height: 100px;
}
header,
section,
footer {
  color: #fff;
}
header,
section,
aside,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  background-color: lightblue;
}
main {
  display: flex;
  flex-direction: row;
  height: 300px;
  gap: 15px;
}
section {
  background-color: darkblue;
  flex-grow: 2;
}
aside {
  background-color: limegreen;
  color: darkblue;
  flex-grow: 1;
}

footer {
  background-color: coral;
}
